* {
  padding: 0;
  margin: 0;
}

body {
  width: 80%;
  margin-left: 150px;
}

#topHeader {
  background-color: rgb(61, 6, 112);
  height: 35px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  padding-top: 15px;
  display: flex;
}

.HeaderDiv {
  display: inline;
}

#contact {
  margin-left: 550px;
}

#address {
  margin-left: 50px;
}

#secondHeader {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

#navList {
  /* margin-left: 440px; */
}

ul {
  list-style: none;
  padding-top: 20px;
}

li {
  display: inline;
  margin-left: 20px;
}

#heroSection {
  background-image: url(images.jpg);
  background-size: cover;
  height: 80vh;
  /* width: 100vw; */
}

#firstEmpty {
  background-color: rgb(61, 6, 112);
  height: 80px;
  width: 40px;
  position: fixed;
  top: -32px;
  left: 115px;
  transform: rotate(135deg);
  z-index: -1;
}
